.slide-background {
    /* background-color: orange; */
    background-image: url("/images/prism.png");
    background-repeat: repeat;
}
img {
    border: 0px !important;
    background: transparent !important;
    box-shadow: 0 0 0 !important;
    rotate: 2.5deg;
}